<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css" media="screen" type="text/css" />        
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="/static/bootstrap/js/jquery.min.js"></script>

</head>
<body>
    <div class="container">
        <h1>bootstrap前端框架</h1>
        <div class="col-md-3">
        </div>
    </div>
</body>
</html>
